#contact{
    padding-top: 5rem ;
    font-family: "Raleway", sans-serif;
}
.contact-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}
#contact-message{
    border: none;
    border-bottom: #BDBDBD solid 1px;
    text-align: top;
    margin: 1rem 3rem;
    width: 400px;
    height: 218px;
    color: #BDBDBD;
}
#contact-name{
    border: none;
    border-bottom: #BDBDBD solid 1px;
    padding-bottom: 0.5rem;
    margin: 1rem 3rem;
    width: 370px;
    height: 50px;
    /* font-size: 18px; */
}   
#contact-email{
    border: none;
    border-bottom: #BDBDBD solid 1px;
    padding-bottom: 0.5rem;
    margin: 1rem 3rem;
    width: 370px;
    height: 50px;
}   
#contact-password{
    border: none;
    border-bottom: #BDBDBD solid 1px;
    padding-bottom: 0.5rem;
    margin: 1rem 3rem;
    width: 370px;
    height: 50px;
}   