.header{
    background-color: #000000;
    height: 75px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    z-index: 3;
}
.menu{
    margin-right: 170px;
    display: flex;
    justify-content: end;
}
.menu__link{
    width: 115px;
    height: 75px;
    text-align: center;
    padding-top: 1.6rem;
}
.menu__link-description{
    font-size: 14px;
    text-decoration:none;
    color: #FFFFFF;
}
.logo{  
    /* margin-left: 50px; */
}
