.pricing__content-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: end;
  height: 550px;
}
#pricing {
  padding: 5rem 0;
  background-color: #f5f5f5;
  height: 900px;
  font-family: "Open Sans", sans-serif;
}

.pricing__list-title{
  text-align:center;
  padding-top: 0.5rem;
  font-size: 24px;
  background-color: #333333;
  width: 317px;
  height: 53.21px;  
  border: 1px solid #F5F5F5;
  color: #FFFFFF;
}
.pricing__list-cost{
  text-align: center;
  padding-top: 1.5rem;
  font-size: 36px;
  background-color: #333333;
  width: 317px;
  height: 88.68px;
  border: 1px solid #F5F5F5;
  color: #FFFFFF;
}
.pricing__list-cell{
  text-align: center;
  font-size: 18px;
  padding-top: 0.5rem;
  width: 317px;
  height: 44.34px;
  border: 1px solid #F5F5F5;
  background-color: #FFFFFF;
  color: #86878B;


}
.pricing__list-cell:nth-child(3){
  background-color: #333333;
}
.pricing__list:hover{
  transform: translate(0, -20px);
  box-shadow:0px 5px 5px 5px #E2E2E2;
}





  


