* {
	box-sizing: border-box;
	margin: 0;
}

.page {
	font-size: 16px;
}

ul, ol {
	 list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
